
#container{
    background-color: green;
    max-width: 1000;
    margin: auto;
    font-family: Verdana;
    font-size: 14px;
    color: white;
}
body{ 
    background-image: url("Images/Background.jpg");
    display: flex;
    justify-content: center;
}
header{
    max-width: 1000;
    margin: auto;
    border: 3px solid black;
}
h1{
    color: black;
    margin: 3px;
    font-family: Verdana;
}
p{
    color: cyan;
    width: 820px;
    margin: 10px;
    font-family: Verdana;
}